{% extends 'base.html' %}
{% load static %}
{% block title %}Schedule{% endblock  %}
{% block content %}

<!-- Schedule table -->
<div class="max-w-7xl mx-auto my-8 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">Schedule</h1>
    <table class="min-w-full divide-y divide-gray-200 mt-4">
      <thead>
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sl No.</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Departure Station</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Arrival Station</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for v in vaikom %}
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ forloop.counter }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> {{ v.time_format }} </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> {{ v.departure }} </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ v.arrival }}</td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>

{% endblock  %}
