{% extends 'base.html' %}
{% load static %}
{% block title %}Tracking{% endblock  %}
{% block content %}


<div class="container mx-auto px-4 mt-8">
    <h1 class="text-3xl font-bold mb-8">Live Tracking</h1>
  </div>
  
    <div class="h-screen w-full">
        <!-- Create a nested div element with the Leaflet map ID and CSS styling -->
        <div id="map" class="h-full"></div>
      </div>
      
    <script>
        let map = L.map('map').setView([0,0], 13);
        let circle, marker;
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
      
        // Function to update the map center coordinates
        function updateMap(lat, lng) {
          console.log(lat, lng);
          map.setView([lat, lng], 18);
          marker = L.marker([lat, lng]).addTo(map);
          marker.bindPopup("<b>Hello there!</b><br>I am a currently here.").openPopup();
      
        }
      
        // Function to make API call and update map
  function fetchDataAndRefreshMap() {
    // Store the current zoom level in a variable
  const currentZoomLevel = map.getZoom();
    fetch("https://blr1.blynk.cloud/external/api/get?token=91WF7MrryhttcaAhOKW62ylGe9o-40cb&V1&V2&V3&V4")
      .then(response => response.json())
      .then(data => {
        const lat = data.V3;
        const lng = data.V4;
        if (marker){
          map.removeLayer(marker);
        }
        updateMap(lat, lng);
        // Set the zoom level back to the stored value
      map.setZoom(currentZoomLevel);
        setTimeout(fetchDataAndRefreshMap, 2000);
      });
  }
      
        // Call the fetchDataAndRefreshMap() function to update the map on initial load
        fetchDataAndRefreshMap();
      
        // Call the fetchDataAndRefreshMap() function again every 5 seconds
      </script>
</html>

{% endblock %}